.picker {
    padding: 8px;
    background-color: lighter(var(--window-bg-color));
    border-radius: 8px;
    border-style: solid;
    border-color: var(--border-color);
    box-shadow: 0 0 3px 1px rgba(0.0,0.0,0.0,0.2);
}

.picker text {
    font-size: larger;
    font-family: monospace;
}


.status-bar {
    font-weight: bolder;
}

.status-bar-mini {
    font-weight: normal;
    font-size: smaller;
}

.overlay-cursor {
    background-color: alpha(var(--window-fg-color), 0.5);
    border-radius: 2px;
}
